html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer .form-inline {
  margin-top: 10px;
}

.container label {
  margin-bottom: 0;
}

.connection-row {
  height: 115px;
}

.connection {
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 5px;
  width: 350px;
  float: left;
}

.log {
  margin-right: 15px;
  overflow: hidden
}

.log > textarea {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.connection-status {
  padding-right: 15px;
  float: right !important;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.connection-status-separator {
  margin-top: 0;
  margin-bottom: 0
}
